#nav-bar {
  position: fixed;
  left: 0;
  background: var(--deepBrown);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#nav-bar ul {
  display: flex;
  margin: 0;
  gap: 1px;
}

#nav-bar a {
  font-weight: 600;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 10px;
}

#nav-bar a:hover {
  background-color: black;
}

#nav-bar li {
  list-style: none;
}

#nav-bar button {
  width: fit-content;
  font-weight: 600;
  border-radius: 0;
  background-color: var(--goldBrown);
}

#nav-bar ~ * {
  margin-top: 4rem;
}
