:root {
  --mobile-columns-value: minmax(0, 1fr) 0px;

  /* color pallette */
  --deepBrown: #41280e;
  --slate: #8f8777;
  --goldBrown: #634c2d;
  --gold: #feb;
  /* --chocolate: #42291e;
  --cherryChocolate: #381f1a; */

  --red: #bd2521;

  --drkbwn: #201812;
  --drkbwnbrd: #493f33;
  --palebwn: #a89679;
  --plbwnbrd: #7f7168;
  --slate: #7c6e62;
  --slatebdr: #84776f;
  --brightgold: #ffe37a;
  --palegold: #665142;
  --brown: #3a2b20;
  --nearblack: #100800;
  --nearwhite: #ccc;
}

body {
  background: linear-gradient(150deg, black 10%, var(--drkbwn) 95%);
  font-family: fangsong;
  color: var(--nearwhite);
}

h1, h2, h3, h4, h5 {
  color: #fff;
  margin-left: .5rem;
}

#dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 100%;
}

#hud {
}

.gold-frame, .gold-rim {
  /* margin: 10px 5px; */
  border: outset 2px var(--gold);
  background-color: var(--gold);  
}

.gold-rim > * {
  margin: 1px;
  border: inset 2px var(--gold);
  background-color: #060606;
}

.bubble-head {
  border: solid 1px var(--plbwnbrd);
  border-bottom: solid 1px #060606;
  background: linear-gradient(180deg, var(--brown) 40%, var(--drkbwn) 80%, var(--nearblack));
}

.user-profile {
  margin: -20px -20px 10px -20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.user-profile > h3 {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 0 25px #eeeeee;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eeeeee33;
}

.user-profile img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  flex-grow: 1;
}

.profile-details span {
  display: inline-block;
  width: 100px;
  font-weight: 700;
  text-align: end;
}

#quest-log {
  /* border-right: 1px #ddd solid;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; */
  width: 1000px;
  margin-left: 50vw;
  transform: translateX(-50%);
}

@media screen and (max-width: 1050px) {
  #dashboard {
    grid-template-columns: 80px repeat(2, minmax(0, 1fr));
  }

  #hud {
    padding: 0;
  }

  .user-profile {
    margin: 0;
    padding: 0;
  }

  .user-profile img {
    margin: 3px auto;
  }
  
  .user-profile > h3, .profile-details {
    display: none;
  }

  .nav-icons > * {
    padding: 0.5em;
  }

  .nav-icons span {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #dashboard {
   grid-template-columns: var(--mobile-columns-value);
   grid-template-rows: minmax(0, 1fr) minmax(0, 60px); 
  }

  #dashboard > * {
    overflow: hidden;
    padding: 0;
  }

  #main-display > *, #detail-display > * {
    margin: 10px;
  }

  #hud {
    grid-area: 2 / 1 / last-line / last-line;
    background-color: #abd3ff;
  }

  .user-profile {
    display: none;
  }

  .nav-icons {
    flex-direction: row;
    height: 100%;
    width: auto;
    justify-content: space-around;
  }

  .nav-icons > * {
    padding: 0;
    font-size: 40px;
    background: none;
    border: none;
    line-height: 50%;
  }

  #main-display {
    grid-area: 1 / 1 / 2 / 2;
  }

  #detail-display {
    grid-area: 1 / 2 / 2 / 3;
  }
}
