:root {
  /* color pallette */
  --deepBrown: #41280e;
  --slate: #8f8777;
  --goldBrown: #634c2d;
  --gold: #feb;
  /* --chocolate: #42291e;
  --cherryChocolate: #381f1a; */
  --red: #bd2521;

  --drkbwn: #201812;
  --drkbwnbrd: #493f33;
  --palebwn: #a89679;
  --plbwnbrd: #7f7168;
  --slate: #7c6e62;
  --slatebdr: #84776f;
  --brightgold: #ffe37a;
  --palegold: #665142;
  --brown: #3a2b20;
  --nearblack: #100800;
  --nearwhite: #ccc;
}

body {
  background: linear-gradient(150deg, black 10%, var(--drkbwn) 95%);
  font-family: fangsong;
  color: var(--nearwhite);
}

h1, h2, h3, h4, h5 {
  color: #fff;
  margin-left: .5rem;
}

/* FORM ELEMENTS */

input[type=text], textarea {
  background-color: #030303;
  border-width: 2px;
  border-radius: 4px;
  border-style: inset;
  padding-left: 10px;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  min-height: 2rem;
}

input[type=text]::placeholder {
  color: #666;
  font-size: 1rem;
}

button {
  font-family: inherit;
  position: relative;
  color: #eee;
  height: 40px;
  min-width: 80px;
  padding: 0 10px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 6px 1px #00000066;
}

button:hover {
  background-color: #f42;
  box-shadow: 0px 0px 6px 1px #ff0000aa;
}

button:active {  
  background-color: #b00;
  box-shadow: none;
}

button:disabled {
  background: linear-gradient(#100, var(--slate) 90%, #666);
  box-shadow: none;
  border: inset #444;
  color: #ffffff66;
}

button:disabled::after {
  content: none;
}

button:disabled:hover {
  box-shadow: none;
}

#main-app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
}

.gold-frame, .gold-rim {
  /* margin: 10px 5px; */
  border: outset 2px var(--gold);
  background-color: var(--gold);  
}

.gold-rim > * {
  margin: 1px;
  border: inset 2px var(--gold);
  background-color: #060606;
}

.bubble-head {
  border: solid 1px var(--plbwnbrd);
  border-bottom: solid 1px #060606;
  background: linear-gradient(180deg, var(--brown) 40%, var(--drkbwn) 80%, var(--nearblack));
}

@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 750px) {

}
