#nav-bar {
  position: fixed;
  left: 0;
  height: 100vh;
  background: var(--deepBrown);
  width: 160px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-top: 30px;
}

#nav-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 160px;
  height: 100%;
  width: 40px;
  background: linear-gradient(to right, #281705, #000);
  box-shadow: 0 0 80px #000;
  border: solid black 2px;
  z-index: -1;
}

#nav-bar button {
  width: 200px;
  height: 60px;
  position: relative;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--gold);
  background: radial-gradient(var(--deepBrown) 50%, var(--nearblack));
  border: outset 7px var(--deepBrown);
  margin: 10px;
  box-shadow: 0 0 15px 5px #000000;
}

#nav-bar button:not(:disabled) {
  cursor: pointer;
}

#nav-bar button:disabled {
  color: gray;
  opacity: .8;
}

#nav-bar button.current {
  border-right-color: #00000066;
}

#nav-bar button.current::before {
  content: '';
  border: var(--deepBrown) 5px outset;
  height: 33px;
  width: 33px;
  position: absolute;
  left: 96%;
  top: 0;
  transform: rotate(45deg);
  border-radius: 6px;
  background: radial-gradient(var(--deepBrown) 25%, var(--nearblack));
  z-index: -1;
}

#nav-bar button:last-child {
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 50px;
}
