
#new-task-bar {
  display: flex;
  margin-bottom: 10px;
  /* flex-grow: 0; */
  gap: 20px;
  background-color: var(--black4);
  padding: 20px;
}

#new-task-bar button {
  font-weight: 600;
  cursor: pointer;
}

#adv-create-btn {
  color: white;
  background: linear-gradient(0deg, #ab0000 22%, #e00, #4b2b2b);
}
