/* Scrollbar */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: outset 3px #aaa;
  background-color: #888;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}

ul {
  padding-inline-start: 10px;
  list-style: none;
}

li {
  background-color: #eee;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
}

p, h3 {
  margin: 0;
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: 1rem;
}

main {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #300; */
  /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  padding: 30px;
  border-radius: 20px;
  display: flex;
  column-gap: 20px;
}

main > * {
  margin: 0 auto;
  padding: 20px;
  background-color: #ddd;
  width: calc(50% - 20px);
  box-sizing: border-box;
  border-radius: 10px;
}

