/* Scrollbar */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: outset 3px #aaa;
  background-color: #888;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}

#app {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  padding-inline-start: 10px;
  list-style: none;
}

p, h3 {
  margin: 0;
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: 1rem;
}

