.quest-list-item {
  height: 100%;
  width: 100%;
  position: relative;
}

.quest-list-item h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 5px;
}

.quest-controls {
  height: 0px;
  opacity: 0;
  width: fit-content;
  color: #333;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, white, transparent);
  padding: 0;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.quest-list-item:hover .quest-controls {
  height: 100%;
  opacity: 1;
  padding: 0 5px 0 50px;
}

.quest-controls > * {
  cursor: pointer;
  padding: 5px;
  font-size: larger;
  border-radius: 50%;
}

.quest-controls > *:hover {
  color: white;
  background-color: rgb(11, 138, 0);
  box-shadow: 0 0 1px 3px rgba(11, 138, 0, 0.25);
}
