.quest-focus-container {
  overflow-y: auto;
  height: 200px;
  padding: 10px;
  padding-right: 5px;
  box-sizing: border-box;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
