.quest-list-item {
  height: 100%;
  width: 100%;
  position: relative;
}

.quest-list-item h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 100;
}

.quest-controls {
  height: 0px;
  opacity: 0;
  width: fit-content;
  /* color: #333; */
  position: absolute;
  top: -4px;
  right: 0;
  /* background: linear-gradient(to left, white, transparent); */
  padding: 0;
  /* overflow: hidden; */
  transition: all 150ms ease-in-out;
  fill: #f3f3f3;
  display: flex;
  gap: 6px;
}

.quest-list-item:hover .quest-controls {
  height: 100%;
  opacity: 1;
  padding: 0 5px 0 50px;
}

.quest-controls > * {
  cursor: pointer;
  padding: 8px;
  font-size: larger;
  border-radius: 50%;
  background-color: var(--black3);
}

.quest-controls > *:hover {
  color: white;
  background-color: var(--brown2);
  box-shadow: 0 0 1px 3px rgba(120, 80, 30, 0.25);
}
