.quest-list {
}

.quest-list ul {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, var(--deepBrown), var(--nearblack) 80%);
}

.quest-list li {
  display: flex;
  /* border-bottom: none;
  margin-bottom: -3px; */
}

.quest-list li:not(:last-child) {
  border-bottom-width: 1px;
  border-image: linear-gradient(to left, transparent 5%, #666, transparent 95%) 1;
  border-bottom-style: solid;
}

.quest-list hr {
  border: rgba(75,75,75,.7) 1px solid;
  border-radius: 50%;
}

.xpnd {
  text-align: center;
  width: 27px;
  font-size: 27px;
  color: var(--gold);
  font-weight: 600;
}