.icon-btn {
  background: none;
  border: none;
  color: green;
  font-size: 1.5rem;
}

.icon-btn:hover {
  color: lime;
}

.editable {
  padding: 6px;
  position: relative;
  min-height: 1.5rem;
}

.white-icon {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

.editable:hover {
  background: linear-gradient(to right, #11111100 50%, #000000cc);
}

.editable:hover .white-icon {
  display: block;
}

.editable:hover::after {
  content: '';
}

.single-line-form {
  display: flex;
  align-items: center;
}

input[type=text] {
  height: 2rem;
  font-size: 1rem;
  flex-grow: 1;
}